
// Extension notifier ==========================================================

div#extension-notifier {
	display: none;
	background-color: #0BB39C;
	color: #fff;
	text-transform: uppercase;
	p {
		font-family: @font-family-hd;
		font-size: 20px;
		font-weight: bold;
		padding: 10px;
	}
}

// =============================================================================