/*

	Footer

*/

.footer {
	border: 0;
	color: @grey;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 0;
	text-align: center;

	p {
		font-size: @font-small;
	}

	.menu {
		// background-color: @black;
		padding: 5px 0;
		text-align: center;
		li {
			color: @white;
			display: inline-block;
			padding: 0;
			&::after {
				content: '/';
				color: @grey;
			}
			&:last-child::after {
				display: none;
			}
		}
	}
	.nav>li>a {
		color: @grey;
		display: inline;
		padding: 0 5px 0 0;

		&:hover,
		&:focus {
			background-color: transparent;
			text-decoration: underline;
		}
	}

	.social-icons {
		background: @black;
		padding: 10px 0;
		text-align: center;
		vertical-align: top;

		.bg-sprite {
			.text-hide();
			display: inline-block;
			margin: 0 6px;
			vertical-align: top;
		}

		.intro {
			color: @white;
			line-height: 32px;
			margin-right: 25px;
			vertical-align: middle;
		}
	}
}