/*

	Homepage

*/

.front {
	.breadcrumb {
		display: none;
	}

	.page-title-wrapper {
		min-height: 0;
	}

	h1.page-header {
		display: none;
	}

	.btn-create-wishlist {
		.color-button-m();
		margin: 40px auto;
		text-align: center;
		width: 30%;
		display: block;
		padding: 10px 0;
		span {
			display: inline-block;
			margin-left: -10px;
			padding-left: 40px;
		}
	}



	.home-column {
		float: left;
		margin-bottom: 20px;
		width: 20%;
		padding: 0 15px;
		position: relative;

		h2 {
			color: @black;
			font-size: @font-large;
			font-weight: @font-bold;
			margin-bottom: 10px;
			padding: 5px 0 0 0;
		}

		p {
			.p-text-grey-s();
			font-weight: normal;
			max-height: 4.2em;
			overflow: hidden;

			a {
				.a-teal();
				margin-top: 20px;
			}
		}
	}
}
.node .content .btn-create-wishlist {
	color: @white;
}

.hero-banner {
	background: @black;
	color: @white;
	padding: 20px 0;

	.hero-title {
		background-color: @med-grey;
		border-radius: 3px;
		font-size: 50px;
		display: inline-block;
		// margin-bottom: 5px;
		padding: 2px 10px;
	}

	.sub-title {
		background-color: @grey;
		border-radius: 3px;
		color: @white;
		display: inline-block;
		font-size: @font-large;
		margin: 0 0 15px;
		padding: 8px 15px 8px 14px;
		text-transform: none;
	}

	.description p {
		max-width: 400px;
		font-size: @font-smedium;
	}

	.learn-more {
		.color-button-m();
		border-radius: 3px;
		margin-top: 20px;
	}


	.description {
		padding: 0 30px 0 45px;
	}

}

.video {
	overflow: hidden;
	position: relative;
	padding-right: 95px;
	iframe {
		width: 100%;
		height: 360px;
	}

	.video-overlay {
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 95px;
		img {
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}

.payment-methods {
	text-align: center;
	p {
		font-size: @font-medium;
		font-weight: @font-semi;
	}
}

.payment-list {
	font-size: 0;
	padding-left: 0;
	text-align: center;
	li {
		display: inline-block;
		list-style: none;
		padding: 0;
		// margin: 5px 10px;
	}
}
.node .content .payment-methods-img {
	border: 0;
	width: auto;
	text-align: center;
}
@media(max-width: @screen-sm-max) {
	.hero-banner {
		.hero-title {
			font-size: @font-large;
		}

		.sub-title {
			font-size: @font-xmedium;
		}

		p {
			font-size: @font-small;
		}

		 .video {
		 	padding-right: 30px;
		 	iframe {
				height: 260px;
			}

		}
	}
}

/* Homepage block links (specific to the homepage as this is the only place they are used - so far...) */

.link-facebook {
	background: url("@{images}sprite-fb-twit.png") no-repeat scroll left 5px @white;
	display: block;
	text-indent: -9999px;
	width: 55px;
}

.link-twitter {
	background: url("@{images}sprite-fb-twit.png") no-repeat scroll right 5px @white;
	display: block;
	text-indent: -9999px;
	width: 55px;
}


@media(max-width: @screen-md-max) {
	.front {
		.home-column {
			h2 {
				font-size: @font-medium;
			}
		}

		.btn-create-wishlist {
			width: 70%;
		}
	}

	.video {
		padding-right: 50px;
		.video-overlay {
			right: 50px;
		}
		iframe {
			height: 320px;
		}
	}
}

@media(max-width: @screen-xs-max) {
	.front {
		.content.row,
		.home-row.row {
			margin: 0;
		}

		.home-column {
			width: auto;
			float: none;
			margin-bottom: 2em;
			&:first-child {
				h2 {
					margin-top: 0;
				}
			}
			p a {
				margin-top: 0;
			}
		}

		.payment-methods {
			img {
				height: auto;
				width: 100%;
			}
		}
	}
}
@media(max-width: 450px) {
	// .front {
		.video {
			padding-right: 30px;
			padding-left: 40px;
			.video-overlay {
				right: 30px;
				left: 40px;
			}
			iframe {
				min-height: 250px;
				height: auto;
			}
		}
	// }
}
@media(max-width:680px) {
	.node .content .payment-methods-img {
		width: 100%;
	}
}