/*

	How it works page

*/


.how-it-works {

	h1 {
		margin-bottom: 30px;
		margin-top: 0;
		text-transform: none;
	}

	ol {

		padding: 0;

		.item {
			background: url("@{images}arrow.png") no-repeat scroll center bottom @white;
			display: table;
			list-style: none;
			margin-bottom: 20px;
			min-height: 80px;
			padding-bottom: 65px;
			width: 100%;
		}

		p {
			background-color: @lgrey;
			border-radius: 2px;
			display: table-cell;
			font-weight: @font-semi;
			height: 70px;
			padding: 15px;
			text-align: center;
			vertical-align: middle;
		}

		.last {
			background: 0 none;
			padding-bottom: 0;
		}
	}

	.divider {
		color: @black;
		font-size: @font-medium;
		font-weight: @font-bold;
		list-style: none;
		text-align: center;
		padding: 10px 0 25px;
	}
}

.page-node-2 {
	.breadcrumb-wrapper {
		padding-left: 0;
	}
}

@media(max-width: @screen-md-max) {
	.how-it-works {
		.column {
			// padding: 0 5px;
		}
	}
}

@media(max-width: @screen-sm-max) {
	.how-it-works {
		.column {
			padding: 0;
		}
	}
}

@media(min-width: @screen-sm) {
	.video-column {
		padding-top: 68px;
	}
}

@media(min-width: @screen-lg) {
	.video-column {
		padding-top: 50px;
	}
}
